<style>
  /*Icon progressbar*/
  #progressbar {
      margin-bottom: 30px;
      overflow: hidden;
      color: lightgrey;
  }

  #progressbar .active {
      color: #f7c600;
  }

  #progressbar li {
      list-style-type: none;
      font-size: 15px;
      width: 25%;
      float: left;
      position: relative;
      font-weight: 400;
  }

  /*Icons in the ProgressBar*/
  #progressbar #account:before {
      font-family: FontAwesome;
      content: "\f1c0";
  }

  #progressbar #personal:before {
      font-family: FontAwesome;
      content: "\f0d1";
  }

  #progressbar #payment:before {
      font-family: FontAwesome;
      content: "\f030";
  }

  #progressbar #confirm:before {
      font-family: FontAwesome;
      content: "\f00c";
  }

  /*Icon ProgressBar before any progress*/
  #progressbar li:before {
      width: 30px;
      height: 30px;
      line-height: 25px;
      display: block;
      font-size: 20px;
      color: #ffffff;
      background: lightgray;
      border-radius: 50%;
      margin: 0 auto 10px auto;
      padding: 2px;
  }

  /*ProgressBar connectors*/
  #progressbar li:after {
      content: '';
      width: 100%;
      height: 2px;
      background: lightgray;
      position: absolute;
      left: 0;
      top: 5px;
      z-index: -1;
  }

  /*Color number of the step and the connector before it*/
  #progressbar li.active:before, #progressbar li.active:after {
      background: #f7c600;
  }

  </style>

  <div class="wrapper">
  <div class="content-wrapper">
<div class="container-full">
<section class="content">
    <div class="row">
      <div class="col-xl-12 col-12">
        <div class="row">
            <div class="box-header">
                <h4 class="box-title">Add New Order</h4>
               </div>
            <div class="box-body">
                <div class="row mb-20">
                  <div class="row justify-content-center">
      <!-- <div class="col-xl-4 col-lg-6 justify-content-center">
        <ul id="progressbar">
          <li class="text-center" id="account"><strong style="font-size: 12px;">Product</strong></li>
          <li id="personal" class="text-center"><strong style="font-size: 12px;">Logistics</strong></li>
          <li id="confirm" class="active text-center"><strong style="font-size: 12px;">Submit</strong></li>
        </ul>
        <div *ngIf="!progressBar" class="progress text-center">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuemin="0" style="width: 70%;" aria-valuenow="70" aria-valuemax="100"><b>70%</b></div>
        </div>
        <div *ngIf="progressBar" class="progress text-center">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuemin="0" style="width: 90%;" aria-valuenow="90" aria-valuemax="100"><b>90%</b></div>
        </div>
        </div>-->

        <div class="col-12 col-lg-12 col-xl-8">
      <span *ngIf="buttonClicked">Please Wait...</span>
      <div *ngIf="selectVendor" class="col-12">
        <div class="box">
        <div class="box-header with-border">
          <h4 class="box-title mb-10">Select Vendor</h4>
          <div class="row">




            <div class="col-md-12" *ngIf="trucks">
              <div class="card text-center">
                <div class="card-body">
                  <h4 class="card-title">{{vendorInfo.name}}</h4>
                  <p class="card-text">Trucks : <span class="text-dark">{{trucks}}</span></p>
                  <p class="card-text">Status : <span class="text-success">Verified</span></p>
                </div>
              </div>
              <div class="row" *ngFor="let trk of truck_list">
                <div class="col-md-12 box">
                    <table class="table table-responsive">
                    <tbody>
                        <tr>
                          <th class="text-left">Truck Name</th>
                          <td class="text-right">{{trk.name}}</td>
                          </tr>
                              <tr>
                      <th class="text-left">Capacity</th>
                      <td class="text-right">{{trk.capacity}}</td>
                      </tr>
                      <tr>
                        <th class="text-left">Type</th>
                        <td class="text-right">{{trk.truck_type}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                <a (click)="backButton()" href="#" class="btn btn-secondary"> <i class="fa fa-arrow-back"></i> Back</a>
                &nbsp; <a (click)="submitOrderWithVendor(vendorInfo.id)" href="#" class="btn btn-success">Select</a>
            </div>

<div class="row" *ngIf="trucks==null">
            <div class="col-md-4 col-lg-6" *ngFor="let ven of vendors">
              <div class="card text-center">
                <div class="card-body">
                  <h4 class="card-title">{{ven.name}}</h4>
                  <p class="card-text">Status : <span class="text-success">Verified</span></p>
                  <a (click)="viewButton(ven.id)" href="#" class="btn btn-primary">view</a>
                 &nbsp; <a (click)="submitOrderWithVendor(ven.id)" href="#" class="btn btn-success">Select</a>
                </div>
              </div>
            </div>
          </div>
</div>

<!--
<div class="row" *ngFor="let ven of vendors" (click)="submitOrderWithVendor(ven.id)">
<div class="col-md-12 box text-center">
<p>{{ven.name}}</p>
</div>
</div>

-->

            <div class="box-controls pull-right">
              <div class="input-group mb-3">

              </div>
            </div>

        </div>
        </div>
</div>

      <div *ngIf="!selectVendor" class="col-12">
  <div class="box">
  <div class="box-header with-border">
    <h4 class="box-title">Cart</h4>
    <div class="box-controls pull-right">
      <div class="input-group mb-3">
        <button (click)="addMoreOrder()" class="btn btn-success btn-sm">Add More</button>
        <button *ngIf="!buttonClicked" (click)="submitOrder()" class="btn btn-danger btn-sm">Submit for Review</button>
      </div>
    </div>
  </div>

  <div class="col-md-12" *ngIf="error != null">
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
  </div>

  <!-- /.box-header -->
  <div class="box-body no-padding">
    <div class="table-responsive">
      <table class="table table-hover">
      <tbody><tr>
        <th>Description</th>
        <th>Service Type</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let item of orders">
        <td><a href="javascript:void(0)">{{item.product_description}}</a></td>
        <td><span class="text-muted">{{item.service_type}}</span> </td>

<td> <i (click)="viewOrderAction(item.id)" class="fa fa-eye text-primary fa-1x m-2"></i>
  <i (click)="deleteOrderAction(item.id)" class="fa fa-trash text-danger fa-1x m-2" *ngIf="item.status==0"></i>
      </tr>
      </tbody>
    </table>
    </div>

  </div>
  <!-- /.box-body -->
  </div>
  <!-- /.box -->

  <div class="col-md-12">
    <div class="pull-right">
      <div class="input-group mb-3">
        <button (click)="addMoreOrder()" class="btn btn-success btn-sm">Add More</button>
        <button *ngIf="!buttonClicked" (click)="submitOrder()" class="btn btn-danger btn-sm">Submit for Review</button>
      </div>
    </div>
</div>

</div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
