<body class="hold-transition theme-primary bg-img" style="background-image: url(/assets/images/login-bg.png)">
  <div class="container h-p100 mt-100 mb-200">
    <div class="row align-items-center justify-content-md-center h-p100">

      <div class="col-12">
        <div class="row justify-content-center g-0">

          <div class="d-flex align-items-center justify-content-center">
            <img class="text-center mb-40" alt="logo"
    [ngStyle]="{'height': '50px', 'width': '150px'}"
            src="/assets/images/logo-dryva-white-logo.png" />
    </div>

          <div class="col-lg-5 col-md-5 col-12">
            <div class="bg-white rounded10 shadow-lg">
              <div class="content-top-agile p-20 pb-0">
                <p class="mb-0">Password Reset</p>
              </div>


              <div class="p-40" *ngIf="!creatPassword">
                  <div class="col-md-12 mt-2">
                    <div class="input-group mb-3">
                      <span class="input-group-text bg-transparent"><i class="ti-email"></i></span>
                      <input type="email" class="form-control ps-15 bg-transparent" placeholder="Enter Email Address" [(ngModel)]="form1.email">
                    </div>
  </div>
  <div class="col-md-12" *ngIf="error != null">
  <div class="alert alert-danger" role="alert">
  {{error}}
  </div>
  </div>
                    <div class="row">
                    <!-- /.col -->
                 <!-- /.col -->
                    <div class="col-12 text-center">
                      <span *ngIf="buttonClicked">Please Wait...</span>
                      <button *ngIf="!buttonClicked" type="button" value="" (click)="requestPasswordResetAction()" class="btn btn-success mt-10">Request Reset Code</button>
                    </div>
                    <!-- /.col -->
                    <div class="text-center">
                      <p class="mt-15 mb-0">Remembered Password? <a [routerLink]="['/login']" class="text-primary ms-5">Sign In</a></p>
                    </div>
                    </div>
              </div>


              <div class="p-40" *ngIf="creatPassword">
                <div class="col-md-12 mt-2">
                  <div class="col-md-12">
                    <div class="alert alert-success" role="alert">
                      We sent a verification code to your email address. Enter the code and new password in the input fields below to complete your request.
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text bg-transparent"><i class="ti-key"></i></span>
                    <input type="text" class="form-control ps-15 bg-transparent" placeholder="Enter Code" maxlength="6" [(ngModel)]="form2.code">
                  </div>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <span class="input-group-text  bg-transparent"><i class="ti-lock"></i></span>
                      <input type="password" class="form-control ps-15 bg-transparent" placeholder="Enter New Password" [(ngModel)]="form2.password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <span class="input-group-text  bg-transparent"><i class="ti-lock"></i></span>
                      <input type="password" class="form-control ps-15 bg-transparent" placeholder="Confirm New Password" [(ngModel)]="form2.password2">
                    </div>
                  </div>
</div>
<div class="col-md-12" *ngIf="error != null">
<div class="alert alert-danger" role="alert">
{{error}}
</div>
</div>
                  <div class="row">
                  <!-- /.col -->
               <!-- /.col -->
                  <div class="col-12 text-center">
                    <span *ngIf="buttonClicked2">Please Wait...</span>
                    <button *ngIf="!buttonClicked2" type="button" value="" (click)="confirmPasswordResetAction()" class="btn btn-danger mt-10">Reset Password</button>
                  </div>
                  <!-- /.col -->
                  <div class="text-center">
                    <p class="mt-15 mb-0">Remembered Password? <a [routerLink]="['/login']" class="text-primary ms-5">Sign In</a></p>
                  </div>
                  </div>
            </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
